// src/styles/variables.scss
:root {
    // Main Colors
    --color-navy-dark: #172B4D;
    --color-navy: #233876;
    --color-navy-light: #4267B2;
    --color-navy-very-light: #e1ecff;

    // Monochrome
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #666666;
    --color-gray-light: #fcfcfc;

    // ETC Colors
    --color-error: #dc3545;
    --color-warning: #ffc107;
  }